body{
    background-color: blueviolet;
}
.time{
    /* margin:10px auto 5px; */
color: cornsilk;
border-color: darkgrey;
height: 150px;
width: 400px;
    margin:0 auto;
    font-size: 28px;
}
.wick{
color:springgreen;
}
.day{
color:aqua;
}